nav, section {
  padding: 20px;
}

nav {
  display: flex;
}

nav>button {
  justify-content: right;
}

ul {
  display: flex;
}

button {
  border: none;
  background: none;
}

section {
  background: silver;
}